{% extends 'base.html' %}

{% block title %}アカウント作成{% endblock %}

{% block content %}
<form method="post" class="rounded form-group shadow bg-white mx-auto"
style="padding: 20px; width: 600px; margin-top: 50px; border: 1px solid rgb(215, 26, 73);">
    {% csrf_token %}
    <h1 style="text-align: center; margin: 15px 0 30px;">サインイン</h1>
    <input type="text" name="username" class="form-control" placeholder="ユーザーネームを入力" style="margin: 10px auto; width: 550px;">
    <input type="password" name="password1" class="form-control" placeholder="パスワードを入力" style="margin: 10px auto; width: 550px;">
    <input type="password" name="password2" class="form-control" placeholder="パスワードを確認" style="margin: 10px auto; width: 550px;">
    <small class="text-start">パスワードは８文字以上で設定してください</small>
    {% if form.errors %}
    <span class="small text-danger text-start">利用できないユーザーネームやパスワード</span>
    {% endif %}
    <button type="submit"class="btn categorybadge m-2" style="width: 100%;">アカウント作成</button>
</form>
{% endblock %}